<div>
    <h3><span data-tooltip aria-haspopup="true" class="fi-info has-tip" data-disable-hover="false" tabindex="1" title="In this section you can create, delete and manage your homeworks. On the left you can see a long list of the homeworks that are currently in your database. The right panel shows you the different attributes of the currently selected homework. In the list you can easily see which homework is already done and which is not. To create new homnework just type the new name in the field and either click  Add  of just hit enter" style="font-size: 1.7rem"></span> Managing homeworks <small>Create homeworks, notes to them and set due dates here</small></h3>

    <hr>
    <div id="homeworkManagement" class="grid-x grid-padding-x grid-margin-x">

        <div class="callout primary cell medium-6 ">
            <h4 style="display: inline">Homework</h4>
            <label class="float-right" style="font-size: 1.4rem; display: inline">Done:
                <input type="checkbox"  style="font-size: 2rem" @click="switchHome(selectedHomework)" v-model="homeworkChecked">
            </label>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label>Homework name:
                      <input v-on:keyup="updateHomework(selectedHomework)" type="text" v-model="homeworkName" placeholder="Name"/>
                    </label>

                </div>
                <div class="medium-6 cell">
                    <label>Homework type:<span data-tooltip aria-haspopup="true" class="fi-info has-tip" data-disable-hover="false" tabindex="1" title="This is just onother attrubute of a homework entry that helps you stay organised. Urgent is for homework that should be done in a relatively timely mannener. Long term is for more prolonged, project-like homeworks that are spaced out in time." style="font-size: 1.0rem"></span>
                  <select v-on:change="updateHomework(selectedHomework)" v-model="homeworkType">
                    <option value="Urgent">Urgent</option>
                    <option value="Long term">Long term</option>
                  </select>
                    </label>
                </div>
            </div>
            <label>
              Description:
              <textarea v-on:keyup="updateHomework(selectedHomework)" v-model="homeworkDesc" rows="7" placeholder="None"></textarea>
            </label>
            <label>
                Due date:
                <input v-model="homeworkDueDate" v-on:change="updateHomework(selectedHomework)" id="datePickHomework"  class="datepicker"   >
            </label>
            <hr>
            <span data-tooltip aria-haspopup="true" class="fi-info has-tip" data-disable-hover="false" tabindex="1" title="Be sure to click this button when you want to save the changes that you make to a selected homework." style="font-size: 1.3rem"></span>
            <button type="button" v-on:click="save()" class="success button expanded">Save</button>
            <button type="button" v-on:click="remove(selectedHomework)" class="alert button expanded">Delete</button>
        </div>
        <div class="callout primary cell medium-6 ">

            <div style="overflow-y: scroll; height: 500px;">
                <h4>Homework list
                    <span data-tooltip aria-haspopup="true" class="fi-info has-tip" data-disable-hover="false" tabindex="1" title="This is the list with your homeworks. The arrow on the left selects the homework and the document symbol on the right deletes the entry." style="font-size: 1.3rem"></span></h4>
                <div v-for="homework in homeworks">
                    <hr style="margin: 0px;">
                    <div class="clearfix hovery">
                        <i style="font-size: 2rem;cursor:pointer;" v-on:click="homeworkSelected(homework.getId())" class="float-left fi-arrow-left"></i>
                        <h5 style="font-size: 2rem" class="float-left">{{homework.getName()}}</h5>
                        <i style="font-size: 2rem;" class="float-left fi-check" v-if="homework.isDone()"></i>
                        <i style="font-size: 2rem;cursor:pointer;" v-on:click="remove(homework)" class="float-right fi-page-remove"></i>

                    </div>
                </div>
                <hr style="margin: 0px;">
            </div>
            <hr>
            <div style="height: 50px;">
                <div class="input-group">
                    <span class="input-group-label">New Homework</span>
                    <input class="input-group-field" v-on:keyup.13="createHomework()" v-model="newHomeworkName" type="url">
                    <div class="input-group-button">
                        <button class="button" v-on:click="createHomework()">Add</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <hr>


    <h3><span data-tooltip aria-haspopup="true" class="fi-info has-tip" data-disable-hover="false" tabindex="1" title="This section contains your notes - tiny bits of text that you can associate with a particular homework and save them for later read. You can create new notes with the New button and filter the already available notes. " style="font-size: 1.7rem"></span> Notes</h3>
    <div class="callout" style="height: 90vh; overflow-y: scroll;">

        <div id="notesManagement">

            <div class="input-group float-left" style="width: 600px">
                <span class="input-group-label">Name filter: </span>
                <input class="input-group-field" type="text">
            </div>
            <button type="button" class="button float-right" data-open="addNoteModal" v-on:click="newNote()">New</button>
            <div data-reveal class="reveal" id="addNoteModal" w3-include-html="HTML Parts/addNoteModal.html"></div>
            <hr>

            <div v-for="note in allNotes" class="hovery card" style="width: 300px; display: inline-block; margin: 5px;">
                <div class="card-divider">
                    <h4>{{note.getName()}} <small>{{homeworks[note.getHomeWorkId()].getName()}}</small></h4>
                </div>
                <div class="text-center card-image">
                    <img src="res/text-icon.png" height="128px" width="128px">
                </div>
                <div class="card-section">
                    <hr>
                    <p class="text-truncate">{{note.getText()}}</p>
                    <hr>
                    <i style="font-size: 2rem;cursor: pointer" v-on:click="removeNote(note.getId())" class="float-right fi-trash"></i>
                    <button type="button" v-on:click="editNote(note)" data-open="addNoteModal" class="primary button">Open</button>
                </div>
            </div>
        </div>

    </div>
</div>
